
.col {
	height:200px;
	width: 400px;
	text-align: center;
	border: solid;
};

.col-3 {
	height:200px;
	width: 400px;
	text-align: center;
	border: solid;
}

.col-2 {
	height:200px;
	width: 200px;
	text-align: center;
	border: solid;
}

.col-6 {
	height:200px;
	width: 600px;
	text-align: center;
	border: solid;
}

.col-8 {
	text-align: center;
	border: solid;
}

.header {
	height:200px;
	width: 600px;
}

.one {
	height:150px;
	width: 150px;
}

.letters { display: inline;}