body {
	background-color: gray;
}

#innerText_top{
	margin-top: 4%;
}

#player {
	position: relative;
	text-align: center;
	font-weight: bold;
	margin-top: 11%;
}

#player:hover {
	box-shadow: 0 0 30px black;
}

.col {
	height:150px;
	width: 200px;
	text-align: center;
	background-color: lightgreen;
	border: solid;
	border-color: gray;
};

.col-3 {
	height:200px;
	width: 400px;
	/*text-align: center;*/
	/*border: solid;*/
}

.col-2 {
	height:200px;
	width: 200px;
	text-align: center;
	/*border: solid;*/
}

.col-6 {
	height:200px;
	width: 600px;
	text-align: center;
/*	border: solid;*/
}

.col-8 {
	text-align: center;
	/*border: solid;*/
	/*margin-top: 3%;*/
}

.header {
	height:200px;
	width: 600px;
	border-radius: 15px;
}

.one {
	height:150px;
	width: 150px;
}

#abc {
	position: relative;
    margin-top: 3%;
}

.letters { 
	display: inline;
	margin-right: 2%;
	font-weight: bold;
	font-size: 45px;
}

.letters:hover {
	box-shadow: 0 0 30px red;
}

.money_one {
	height:50px;
	width: 150px;
	background: rgb(175, 75, 169);
/*	border-radius: 25%;*/
	text-align: center;
	margin-left: 14%;
	
}

.money_two {
	height:50px;
	width: 150px;
	background: rgb(52, 112, 221);
	/*border-radius: 25%;*/
	text-align: center;
	margin-left: 17%;
}

/*#button {
	position: relative;
	marging-top: 3%;
}*/


